$image-gap: 32px;

.employee-container {
   padding-right: $image-gap;
}

.employee {
  position: relative;
  display: flex;
  padding: 35px;
  width: calc(30% - $image-gap);
}

.employee__name {
  margin: 0px 0 4px;
}

.employee__title {
  margin: 0;
  @include font($size: 1.4rem, $weight: normal);
}

.employee__contact {
  @include font($size: 1.4rem, $weight: normal);
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.employee__foto {
  position: absolute;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  top: 20px;
  right: -$image-gap;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

