$image-gap: 32px;

.employee-container {
   padding-right: $image-gap;
   display: flex;
   align-items: center;
   flex-direction: row;

   @include media-tablet {
    flex-direction: column;
   }

   @include media-mobile {
    padding-right: 5px;
   }
}

.employee {
  position: relative;
  display: flex;
  padding: 35px;
  width: calc(30% - $image-gap);

  @include media-tablet {
    width: calc(60% - $image-gap);
    
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include media-mobile {
    margin-right: 32px;
    width: 90%;
  }
}

.employee__name {
  margin: 0px 0 4px;
}

.employee__title {
  margin: 0;
  @include font($size: 1.4rem, $weight: normal);
}

.employee__contact {
  @include font($size: 1.4rem, $weight: normal);
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.employee__foto {
  position: absolute;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  top: 20px;
  right: -$image-gap;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

